<% bg_styles = background_style_modifiers(s, second_wo_background) %>

<% content_for :listings_css do %>
  <%= render 'landing_page/inline_css', s: s, section_id: section_id %>
<% end %>

<section id="<%= section_id %>" class="listings__section listings__section--<%= bg_styles[:section_style_modifier] %>" style="<%= bg_styles[:background_image_style] %> <%= bg_styles[:background_color_style] %>">

  <div class="listings__content">
    <h1 class="listings__title"><%= s["title"] %></h1>

    <div class="listings__paragraph--markdown">
      <%= render_markdown_array(s["paragraph"]) %>
    </div>

    <div class="listings__listings">
      <%# s["listings"].each do |listing| %>
      <%# l = listing["listing"] %>
      <div class="listings__listing">
        <a href="<%= "/s"%>">
          <div class="listings__listing-image" style="background-image: url(<%= image_url("categories/Eco Fabrics and Textiles.png") %>)"></div>
          <h3 class="listings__listing-title">Eco Fabrics and Textiles</h3>
        </a>
      </div>
      <div class="listings__listing">
        <a href="<%= "/s" %>">
          <div class="listings__listing-image" style="background-image: url(<%= image_url("categories/Fair Trade Coffe and Tea.png") %>)"></div>
          <h3 class="listings__listing-title">Fair Trade Coffe and Tea</h3>
        </a>
      </div>
      <div class="listings__listing">
        <a href="<%= "/s" %>">
          <div class="listings__listing-image" style="background-image: url(<%= image_url("categories/Home and Deco.jpg") %>)"></div>
          <h3 class="listings__listing-title">Home and Deco</h3>
        </a>
      </div>
      <div class="listings__listing">
        <a href="<%= "/s" %>">
          <div class="listings__listing-image" style="background-image: url(<%= image_url("categories/Jewelry and accessories.jpg") %>)"></div>
          <h3 class="listings__listing-title">Jewelry and Accessories</h3>
        </a>
      </div>
      <%# end %>
    </div>

    <% if s["button_title"] %>
      <a class="listings__button<%= bg_styles[:button_modifier] %> <%= section_id %>__listings__button<%= bg_styles[:button_modifier] %>" href="<%= s['button_path']['value'] %>"><%= s["button_title"]%></a>
    <% end %>
  </div>
</section>
